@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@100;200;300;400;500;600;700;800;900');

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

p,
a,
button {
    font-family: "Open-Sans", sans-serif;
}


body {
    color: #262525;
}



/* ------------------------------------ Navbar*/

.navbar {
    font-family: "Lato", sans-serif;
    height: auto;
    padding: 0 1rem;
    background-color: #41b29b;
}
.navbar-brand {
    height: 4.5rem;
    margin-right: 0;
}
.navbar-logo{
    width: 4rem;
    height: auto;
    border-radius: 50%;
    vertical-align: top;
}

.company-name {
    display: inline-block;
    margin-left: 1rem;
}

.company-title {
   font-size: 1.5rem;
   color: #f9fcfb;
}

.company-subtitle {
    font-size: 1.2rem;
    color: #f9fcfb;
}

button {
    font-size: 2rem;
}

.dropdown-menu {
    background-color: #41b29b;
}

.dropdown-item {
    color: #f9fcfb;
}

.dropdown-item:hover {
    color:#e0e0e0;
    background-color: #41b29b;
}

.nav-link {
    color: #f9fcfb;
}

.nav-link:hover {
    color: #e0e0e0;
    text-decoration: none;
}

.white-toggler {
    color: #f9fcfb;
}

.nav-button {
    display: inline-block;
    margin-top: .5rem;
} 

.navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

@media screen and (max-width: 475px) {
    .navbar-logo {
        width: 4rem;
        height: 4rem;
    }

    .company-title {
        font-size: 1.3rem;
    }

    .company-subtitle {
        font-size: 1.1rem;
    }

    .navbar-toggler {
        padding: 0rem;
    }
}


/* ------------------------------------ Home*/
.jumbotron {
    margin-top: 18.5rem;
    padding: .5rem 1rem;
    background-color: rgba(255, 255, 255, 0.9);

}

.home-container {
    height: 90vh; 
    background: url("../images/Uni-fyed-Home-Image-Two.jpg") top center; 
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

    display: flex;
    align-items: center;
    justify-content: center;


}

@media screen and (max-width: 475px) {
    .home-container {
        height: 90vh;

        background: url("../images/Uni-fyed-Banner-Image-Mobile.jpg") top center; 
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

@media screen and (max-width: 320px) {
    .jumbotron {
    margin-top: auto;
    padding: .5rem 1rem;
    background-color: rgba(255, 255, 255, 0.9);
}
    
}


/* ------------------------------------ About ------------------------------------*/
.about-us-section-styling {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    background-color: #f8f9fa;
}

.about-us-paragraph {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 0;
}

.media-container {
    margin-top: 2.5rem;
}

.responsive-iframe {
  margin: auto;
  height: 25rem;
  width: 65%;
}

@media screen and (max-width: 768px) {
    .responsive-iframe {
        margin: auto;
        height: 15rem;
        width: 70%;
    }
}

@media screen and (max-width: 425px) {
    .responsive-iframe {
        margin: auto;
        height: 10rem;
        width: 70%;
    }
}

/* ------------------------------------ How it Works ------------------------------------*/
.how-it-works-styling {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    background-color: #d6f5ef;
}

.four-steps {
    margin: 2rem auto;
}

.steps-number {
    font-size: 3rem;
    background-color: #f8f9fa;
    border-radius: 6rem;
    padding: 0 0.3rem;
}

.four-steps-img {
    width: 9rem;
}

.fontawesome-icon {
    font-size: 3rem;
}

/* ------------------------------------ Features*/
.features-section-styling {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    background-color: #f8f9fa;
}

.features-img {
    width: 9rem;
}

/* ------------------------------------ Contact*/
.contact-section-styling {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    background-color: #d6f5ef;
}

.form-control {
    width: 100%;
}

#textarea {
    height: 10rem;
}

.contact-button-container {
    margin-bottom: 2rem;
}


/* ------------------------------------ Footer*/

footer {
    padding-top: 1.5rem;
    background-color: #f8f9fa;
    position: relative;
    bottom: 0;
}

.footer-link {
    color: #1ba186;
    font-size: 1.2rem;
}

.footer-link:hover {
    color: #218838;
    text-decoration: none;
}

.footer-company-name {
    color: #1ba186;
    font-size: 1.2rem;
} 

.company-legal {
    text-align: center;
}

.footer-social-links {
    text-align: center;
    color: #1ba186;
    font-size: 2rem;
    margin: auto 1rem;
}

.footer-social-links:hover {
    color: #218838;
    text-decoration: none;
}

/* ------------------------------------ Forms*/

.form-group label,
.form-group input {
    font-family: "Open-Sans", sans-serif;
}