@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@100;200;300;400;500;600;700;800;900');

html {
    scroll-behavior: smooth;
}
/* ----------------------------------- Colours*/

a {
    color: #f9fcfb;
}

.bg-dark-green {
    background-color: #1ba186;
}

.company-title,
.company-subtitle {
    color: #f9fcfb;
}

.nav-link {
    color: #fcfefe;
}

.nav-link:hover {
    color: #f4f3f3;
    text-decoration: none;
}

.white-toggler {
    color: #f9fcfb;
}

/* ------------------------------------ Page Headers*/






/* ------------------------------------ Navbar*/

.navbar {
    font-family: "Lato", sans-serif;
}
.navbar-brand {
    height: 6rem;
}
.navbar-logo{
    width: 5rem;
    height: auto;
    border-radius: 50%;
    vertical-align: top;
}

.company-title {
    margin-bottom: 0px;
    vertical-align: top;
}

.company-name {
    display: inline-block;
    margin-left: 1rem;
}

.company-title {
    margin-top: 0.5rem;
}

button {
    font-size: 2rem;
}

@media screen and (max-width: 375px) {
    .navbar-logo {
        width: 4.5rem;
    }

    .company-title {
        font-size: 1.5rem;
    }

    .company-subtitle {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: 0rem;
    }
}

/* ------------------------------------ Footer*/

footer {
    background-color: #1ba186;
    color: #f9fcfb;
    position: relative;
    bottom: 0;
}

.company-legal {
    text-align: center;
}

.social-links {
    text-align: center;
}

/* ------------------------------------ Home*/

.home-container {
    height: 70vh;

    /* background: url("../images/.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;


}

/* ------------------------------------ About*/
.about-container {
    padding-top: 8.5rem;
}

.media-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; 
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 80%;
  margin: auto;
}

.fontawesome-icon {
    font-size: 3rem;
}

/* ------------------------------------ Features*/
.features-container {
    padding-top: 8.5rem;
}

/* ------------------------------------ Features*/
.contact-container {
    padding-top: 8.5rem;
}

.form-control {
    width: 100%;
}

#textarea {
    height: 10rem;
}

.contact-button-container {
    margin-bottom: 2rem;
}